[access]
	inheritFrom = All-Projects
[project]
	description = DCAE Designer common datatypes and properties
[access "refs/*"]
	owner = group ldap/onap-gerrit-sdc-dcae-d-dt-be-property-committers
	owner = group saml/onap-gerrit-sdc-dcae-d-dt-be-property-committers
	read = group GitHub Replication
[submit]
	action = rebase if necessary
